html, body
{
    height: 100%;
}
body
{
    margin: 0;
    padding: 0;
}


#inp
{
width:100%
}


body
{
background-image: url("bg1.jpg")
overflow:hidden;
}
div
{
position:absolute;
top:80px;
left:200px;
}


#navigation:hover
{
box-shadow: 0px 0 15px #6A1FEC;
-webkit-transform:scale(0.94);
transform:scale(0.94);
}
#navigation
{
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;

}

#settings:hover
{
box-shadow: 0px 0 15px #6A1FEC;
-webkit-transform:scale(0.94);
transform:scale(0.94);
}
#settings
{
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}

#date:hover
{
box-shadow: 0px 0 15px #6A1FEC;
-webkit-transform:scale(0.94);
transform:scale(0.94);
}
#date
{
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}


#diary:hover
{
box-shadow: 0px 0 15px #6A1FEC;
-webkit-transform:scale(0.94);
transform:scale(0.94);
}
#diary
{
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}


#blank:hover
{
box-shadow: 0px 0 15px #6A1FEC;
-webkit-transform:scale(0.94);
transform:scale(0.94);
}

#blank
{
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
}
