body
{
    background: red; 
    background: -webkit-linear-gradient(#A478D7, #5B95D8); 
	background-repeat:no-repeat;
	height:1000px;
	overflow:hidden;
}

#fm
{
position:relative;
top:100px;
width:400px;
height:500px;
left:770px;
opacity:0.80;
  background: rgba(0, 0, 0, 0.5) none;
}

#top{
position:absolute;
top:20px;
color:white;
left:550px;
opacity:0.8;
}
#image
{
position:absolute;
top:70px;
left:400px;
}

#login12
{
position:absolute;
top:120px;
left:145px;
width:400px;
height:330px;
opacity:0.80;
 background: rgba(0, 0, 0, 0.5) none;
}

#text1
{
position:absolute;
top:-15px;
left:-7px;
color:white;
font-size:30px;
padding:30px;

}

#elements
{
position:absolute;
top:80px;
left:25px;
opacity:1;
}


#elements1
{
position:absolute;
top:80px;
left:25px;
opacity:1;
}


input[type="submit"]
{
background:#70C9F6;
}

#pencil
{
position:absolute;
left:330px;
top:16px;
}

#lock
{
position:absolute;
left:330px;
top:14px;
}